{% extends "base.html" %}

{% block title_header %} 
<title>About</title>
{% endblock title_header %}

{% block h1_header %}
About Santiago
{% endblock h1_header %}

{% block main %}
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio exercitationem tempore reiciendis. Doloremque est error fugit at saepe minus necessitatibus labore dolorem distinctio enim, natus cum ex harum. Cumque, alias.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam natus aut, enim similique officia id beatae quisquam, mollitia aliquid blanditiis nisi qui cumque sint, temporibus repudiandae maiores nulla atque provident.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique temporibus fuga pariatur asperiores harum magni commodi dicta excepturi quos recusandae saepe explicabo illo perspiciatis animi ducimus qui ipsum, repellat tempora!</p>
{% endblock main %}